.hero {
   background-image: url("../../../../public/images/banner.png");
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   height: 90vh;
   width: 100%;
 }